* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

/* HEADER */

h1,
h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
    font-size: 2.1rem;
}

.header span {
    font-size: 2.5rem;
    font-weight: bold;
}

/* PIE DE PAGINA */

.pieDePagina {
    font-size: 1rem;
    text-align: center;
}

.pieDePagina a {
    font-size: 0.7rem;
}

/* BODY */

body {
    background-image: url(../img/Fondo.jpg);
    font-family: 'Krub', sans-serif;
}


nav {
    background-color: #faedcd;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
}


ul {
    text-align: center;
    justify-content: center;
}

.nav-link {
    color: black;
    padding-left: 20px;
    font-size: 1.2rem;
}

.subtitulo {
    margin-bottom: 20px;
    font-size: 2.3rem;
}

.card-body:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.card-body {
    text-align: center;
}

.envios {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

.local span {
    display: block;
    margin-bottom: 25px;
}

.local {
    display: inline-block;
    margin-left: 150px;
    text-align: center;
    justify-content: center;
}

.local h2 {
    font-weight: normal;
}

.opEnvio {
    display: block;
    margin-right: 150px;
}


.secContacto {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.secContacto h2 {
    text-align: center;
    margin-top: 20px;
}

.secContacto p {
    text-align: center;
}

.secContacto form {
    width: 570px;
    height: 550px;
    background-color: #faedcd;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
}

.banner {
    width: 100%;
    height: auto;
}

.pagTalles {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

.talleElegir {
    margin: auto;
    width: 650px;
}

.talleElegir h3 {
    text-align: center;
}

.talleGuia {
    display: block;
    margin: auto;
}

.talleGuia img {
    display: block;
    height: min-content;
    width: 500px
}

@media (max-width: 992px) {
    .envios {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .local {
        margin: auto;
    }

    .opEnvio {
        margin: auto;
    }

    .pagTalles {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .talleElegir {
        margin: auto;
    }

    .talleGuia {
        margin: auto;
    }
}